* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
  background: #3f5efb;
  background: linear-gradient(
    0deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: #fff;
}

h2 {
  margin-bottom: 1rem;
}

#multiplication-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1.5rem;
  color: #333;
  box-shadow: 6px 6px 15px 0px rgba(23, 1, 2, 0.57);
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 0 1rem;
}

.form-control label {
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.form-control input {
  margin-bottom: 1rem;
  flex: 1;
  padding: 0.6rem 0.4rem;
  border: 1px solid #333;
  width: 50px;
  border-radius: 5px;
  text-align: center;
}

#multiplication-form input[type="submit"] {
  max-height: 50px;
  padding: 0.6rem 1.2rem;
  width: 200px;
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

#multiplication-operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 1rem auto;
  padding: 2rem 1rem;
  background-color: #fff;
  color: #333;
  border-radius: 1rem;
  box-shadow: 6px 6px 15px 0px rgba(23, 1, 2, 0.57);
}

#multiplication-operations .row {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 0.5rem;
  width: 150px;
}

#multiplication-operations .row:last-child {
  border-bottom: 1px solid #ccc;
}

#multiplication-operations .result {
  margin-left: 0.4rem;
}

#multiplication-form input[type="submit"]:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
